using System;
using System.Collections.Generic;
using System.Configuration;
using System.Data;
using System.Linq;
using System.Windows;

namespace {{ projectname }}
{
///
<summary>
    /// Interaction logic for App.xaml
    ///
</summary>
public partial class App : Application
{
protected override void OnStartup(StartupEventArgs e)
{
try {
var mainView = new MainView();
mainView.Show();
mainView.DataContext = new MainViewModel();
}
catch (Exception ex){
Debug.WriteLine(ex);
}
}

}
}
{% macro filename(pname) %}App.xaml.cs{% endmacro %}